[Desktop Entry]

Type=Application
Version=0.1.0
Name=Knut
Comment=Client app for the Knut server
Exec=knut
Icon=knut-app
Terminal=false
Categories=Utility
